<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src='/static/js/jquery-1.12.4.min.js'></script>
  <script>
    $(function() {
      $.get("/prov", function(data) {
        var prov = $('#prov');
        res = data.res;
        $.each(res, function(index, item) {
          option_str = '<option value="' + item[0] + '">' + item[1] + '</option>';
          prov.append(option_str);
        });
        $('#prov').change(function() {
          // 获取点击省的id
          provid = $(this).val()
          var city = $('#city');
          //清空 city下拉列表
          city.empty().append('<option value="">---请选择市---</option>');
          $.get("/city" + provid, function(data) {
            res = data.res;
            $.each(res, function(index, item) {
              option_str = '<option value="' + item[0] + '">' + item[1] + '</option>';
              city.append(option_str);
            })
          });
        })
      });
      // 绑定city下拉列表框的change事件，获取市下面的县的信息
      $('#city').change(function() {
        // 发起一个ajax请求 /dis，获取市下面县级地区的信息
        // 获取点击市的id
        city_id = $(this).val()
        $.get('/dis' + city_id, function(data) {
          // 获取返回的json数据
          res = data.res
          // 获取dis下拉列表框
          dis = $('#dis')
          // 清空dis下拉列表框
          dis.empty().append('<option>---请选择县---</option>')
          // 变量res数组，获取每一个元素:[地区id, 地区标题]
          // 遍历取值添加到dis下拉列表框中
          $.each(res, function(index, item) {
            id = item[0]
            atitle = item[1]
            option_str = '<option value="' + id + '">' + atitle + '</option>'
            // 向dis下拉列表框中追加元素
            dis.append(option_str)
          })
        })
      })
    });
  </script>
</head>

<body>

  <select name="prov" id="prov">
    <option value="">请选择省</option>
  </select>
  <select name="city" id="city">
    <option value="">---请选择市---</option>
  </select>
  <select name="dis" id="dis">
    <option value="">---请选择县---</option>
  </select>
</body>

</html>
