<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body topmargin="0">
  <!-- table>tr>td -->
  <table width="800" height='800' cellpadding="0" cellspacing="0" border="1" align="center">
    <tr>
      <td width="260" valign="top" bgcolor="#f2f2f2">

        <table width="200" align="center">
          <tr>
            <td height="100">

            </td>
          </tr>
          <tr>
            <td>
              <img src="images/person.png" alt="">
            </td>
          </tr>
          <tr>
            <td align="right">张达山</td>
          </tr>
          <tr>
            <td align="right">18622209838</td>
          </tr>
          <tr>
            <td align="right">zhangdashan@162.com</td>
          </tr>
        </table>
      </td>
      <td width="30"></td>
      <td width="480" valign="top">
        <table width="480" cellspacing="0" cellpadding="0">
          <tr>
            <td height="80">

            </td>
          </tr>
          <tr>
            <td align="right">
              <img src="images/resume.png" alt="">
            </td>
          </tr>
        </table>
        <br>
        <hr />
        <br>
        <table width="480" border="0" height="200" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2"><b>个人基本情况</b></td>
          </tr>
          <tr>
            <td><b>姓名：</b> 张达山</td>
            <td><b>籍贯：</b> 天津</td>
          </tr>
          <tr>
            <td><b>性别：</b> 男</td>
            <td><b>身高：</b>179cm</td>
          </tr>
          <tr>
            <td><b>民族：</b>汉</td>
            <td><b>体重：</b>70kg</td>
          </tr>
          <tr>
            <td><b>出生日期：</b>1992.03.28</td>
            <td><b>电话：</b>18622209838</td>
          </tr>
          <tr>
            <td><b>现居住地：</b>天辰科技园</td>
            <td><b>专业：</b>化工设计</td>
          </tr>
        </table>
        <br>
        <br>
        <table width="480" border="0" height="80" cellspacing="0" cellpadding="0">
          <tr>
            <td><b>教育背景及工作经历</b></td>
          </tr>
          <tr>
            <td><b>2003.09 -- 2007.07</b> 南开大学</td>
          </tr>
          <tr>
            <td><b>2013.09 -- 2015.07</b> 河北工业大学</td>
          </tr>
        </table>
        <br>
        <br>
        <table width="480" border="0" height="80" cellspacing="0" cellpadding="0">
          <tr>
            <td><b>所获证书</b></td>
          </tr>
          <tr>
            <td><b>2003.09 -- 2007.07</b> 南开大学</td>
          </tr>
          <tr>
            <td><b>2013.09 -- 2015.07</b> 河北工业大学</td>
          </tr>
        </table>
      </td>
      <td width="30"></td>
    </tr>
  </table>
</body>

</html>
